.logo{
	width:30%;
	height:30%;
	margin-left:20%
}
.semilla{
	background-image:url(../img/semilla.jpg);
	background-repeat: no-repeat;
	background-position:0 50%;
	background-size:100%;
	height:500px;
}
.nosotros{
	margin:5% 0;
}
.icono{
	width:30%;
	height:30%;
	margin:2%;
}
.green{
	background-image:url(../img/fondo.jpg);
	background-repeat:repeat;
	height:520px;
	display:inline-block;
}
.cajon{
	float:left;
}

.servicios{
	width:40%;
	height:40%;
}

.h2{
	color:#fff;
	margin:30px 0 20px;
}
.proyecto1{
	width:80%;
	height:60%;
	margin:10px 5px 20px;
}
.texto{
	font-size:20px;
	margin:2% 0;
}
.chicas{
	border-radius:100%;
	width:50%;
	height: 50%;
	margin:20px 0 15px 65px;
}
.fondoGray{
	background-image:url(../img/fondo2.jpg);
	background-repeat:repeat;
	height:500px;
}
.blog{
	font-size:20px;
	margin:30px 0 20px;
}
.deslizador{
	width:32%;
	height:32%;
}
.bloque{
	margin:30px;
}
.caja{
	margin-left:50px;
}